@model IEnumerable<ProductModel>
@{
    var i = 0;
}

@{
    ViewData["Title"] = "All Product";
}

<h2 class="h2 modal-title text-center mt-5">Product List</h2>
<br />

<a type="button" class="btn btn-warning float-right mt-1" asp-action="addProduct" asp-controller="Product">Add New Product</a>
<br />
<br />

@if (ViewBag.IsFailed == true)
{
    <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
        <strong>Soorrry !!</strong> You can't delete this Product. <br />
    </div>
}

<table class="table mt-5">
    <thead>
        <tr>
            <th class="tableText">#</th>
            <th class="tableText">Party Name</th>
            <th class="tableText">Actions</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            i++;
            <tr class=@(i%2 == 1 ? "table-active" : "")>
                <th scope="row" class="tableText">@item.id</th>
                <td class="table-active tableText">@item.productName</td>
                <td>
                    <a asp-controller="Product" asp-action="editProduct" asp-route-id="@item.id" data-value="@item.id" asp-route-productName="@item.productName" class="btn btn-success mr-3">Edit</a>
                    <a asp-controller="Product" asp-action="DeleteProduct" data-value="@item.id" asp-route-id="@item.id" class="btn btn-danger ml-3" onclick="return confirm('Do you want to Delete this Product ?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>