@{
    ViewData["Title"] = "edit Product's Rate";
}
@inject Invoice_Module.Repository.ProductRepository productRepository
@model ProductRateModel

<h2 class="h2 modal-title text-center mt-5">Edit Rate of Product</h2>
<br />

<div class="container mt-5">
    <div class="addtxtDiv">
        <form method="post" asp-action="editProductRate" asp-controller="ProductRate">
            <div class="form-group">
                <label asp-for="@Model.ProductId" class="col-sm-2 col-form-label"></label>
                <select asp-for="@Model.ProductId" class="col-sm-3" asp-items="(await productRepository.GetAllProduct()).Select(x => new SelectListItem() { Value = x.id.ToString(), Text = x.productName })" required>
                    <option value="">Choose Product</option>
                </select>
                <br />
                <span asp-validation-for="@Model.ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Rate" class="col-sm-2 col-form-label"></label>
                <input asp-for="@Model.Rate" class="col-sm-3" required />
                <br />
                <span asp-validation-for="@Model.Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.DateOfRate" class="col-sm-2 col-form-label"></label>
                <input asp-for="@Model.DateOfRate" class="col-sm-3"/>
                <br />
                <span asp-validation-for="@Model.DateOfRate" class="text-danger"></span>
            </div>
            <div class="form-group addButtonDiv">
                <input type="submit" value="Update" class="btn btn-success" />
                <a class="btn btn-light" asp-action="allProductRateItem" asp-controller="ProductRate">Cancel</a>
            </div>
        </form>
    </div>
</div>